<h3 class="page-title">Search Github Repositories</h3>

<%
  if @results && @client.last_response.rels.present?
    total_count = @results.total_count
    last_response = @client.last_response
    total_pages = number_of_pages last_response
    current_page = get_current_page last_response
%>
  <%= render partial: 'pagination',
         locals: {total_count: total_count,
                  number_of_pages: total_pages,
                  current_page: current_page}
  %>
<% end %>

<%= form_tag(pages_search_path, method: :get, id: 'filter-controls') do %>
  <%= label_tag 'search_term' %>
  <%= text_field_tag 'search_term', @search_term %>
  <%= hidden_field_tag('page') %>
  <%= hidden_field_tag('sort_by') %>
  <%= label_tag 'language_filter' %>
  <%= text_field_tag 'language_filter', @language_filter %>
  <%= submit_tag 'Search Repos' %>
<% end %>

<%= render partial: 'results',
           locals: {results: @results,
                    sort_by: (@octo_params && @octo_params[:sort] || ''),
                    sort_order: (@octo_params && @octo_params[:order] || '')} %>

<script type="text/javascript">
  <%= render partial: 'pages.js' %>
</script>
